.container {
    width: 18rem;
    position: sticky;
    top: 0;
    height: 100vh;
    background: var(--clr-theme-1);
    border-right: 1px solid var(--clr-border-color-3);
    display: flex;
    flex-direction: column;
    z-index: 20;
    .wrapper {
        padding: 0 1.5rem;
        position: relative;
    }
}

.logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    svg {
        width: 30px;
    }
}

.profile_con {
    margin-top: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--clr-border-color-3);
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    .avatar_con {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        .avatar {
            border: 1px solid var(--clr-primary);
            border-radius: 50%;
            padding: 0.6rem;
            margin-bottom: 0.5rem;
        }
        .actions {
            background: var(--clr-theme-3);
            font-size: 1.4rem;
            &:hover {
                background: var(--clr-primary);
            }
        }
    }
    .name {
        font-size: 0.9rem;
        font-weight: 600;
    }
    .username {
        font-size: 0.85rem;
        color: var(--clr-gray-2);
    }
}
.details {
    display: flex;
    justify-content: space-around;
    .info {
        transition: 0.2s;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        &:hover {
            background: var(--clr-theme-2);
        }
        span {
            display: block;
            text-align: center;
            line-height: 1.6;
            &:first-child {
                font-size: 0.8rem;
                font-weight: 600;
            }
            &:last-child {
                font-size: 0.8rem;
                color: var(--clr-gray-2);
            }
        }
    }
}
.options {
    position: absolute !important;
    right: 1rem;
    top: 1rem;
    z-index: 10;
    font-size: 1.6rem !important;
    color: var(--clr-gray-2) !important;
    background: none !important;
    &:hover {
        background: var(--clr-theme-3) !important;
    }
}
.list {
    z-index: 10;
}
.nav_con {
    padding: 0.5rem 0;
    .nav_link {
        display: flex;
        gap: 1.5rem;
        font-size: 0.9rem;
        padding: 1rem 1.5rem;
        color: var(--clr-gray-1);
        &:hover {
            color: var(--clr-primary);
        }
        svg {
            font-size: 1.2rem;
            color: var(--clr-gray-3);
        }
        &.active {
            color: var(--clr-primary);
            svg {
                color: var(--clr-primary);
            }
        }
    }
}
.social_icon {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    margin-top: auto;
    border-top: 1px solid var(--clr-border-color-3);

    .icon {
        font-size: 1.6rem;
        color: var(--clr-gray-2);
        background: none;
        &:hover {
            color: var(--clr-primary);
        }
    }
}
