.container {
    width: 90%;
    margin: 0 auto;
}
.details {
    margin: 0 -2rem;
    margin-top: 0.8rem;
    .cover {
        position: relative;
        border-radius: 0.6rem;
        overflow: hidden;
        display: flex;
        height: 170px;
        img {
            object-fit: cover;
            width: 100%;
        }
        svg path {
            stroke: #8c8c8c;
        }
    }
    .cover,
    .avatar_con {
        .edit {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            font-size: 1.4rem;
        }
    }
    .user {
        display: flex;
        // margin-top: -0.3rem;
        .avatar_con {
            position: relative;
            .avatar {
                margin-top: -5rem;
                margin-left: 2rem;
                margin-right: 1.5rem;
                & > div {
                    height: 10rem;
                    width: 10rem;
                    border: 5px solid var(--clr-theme-2);
                }
            }
            .edit {
                top: 2rem;
                right: 2rem;
            }
        }
        .con {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.7rem 0;
            .name {
                h4 {
                    line-height: 0.9;
                }
                span {
                    font-size: 0.9rem;
                    color: var(--clr-gray-3);
                }
            }
            .actions {
                .icon {
                    width: 10rem;
                    svg {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        p {
            margin-bottom: 0.4rem;
        }
        .point {
            display: inline-flex;
            align-items: center;
            font-size: 0.9rem;
            margin-right: 0.8rem;
            color: var(--clr-gray-2);
            svg {
                font-size: 1.1rem;
                margin-right: 0.3rem;
            }
        }
        a.point {
            color: var(--clr-primary);
            svg {
                color: var(--clr-gray-2);
            }
            &:hover {
                text-decoration: underline;
            }
        }
        .links a {
            font-size: 0.8rem;
            margin-right: 1rem;
            margin-bottom: 0.8rem;
            span {
                font-size: 1.1rem;
                margin-right: 0.3rem;
            }
        }
    }
}
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: 2rem;
    padding: 2rem 0;
    border-top: 1px solid var(--clr-border-color-3);

    .post {
        margin: 0 auto;
        position: relative;
        border-radius: 0.6rem;
        overflow: hidden;
        display: flex;
        img {
            object-fit: cover;
            width: 100%;
        }
        &:hover .overlay {
            visibility: visible;
        }
        .overlay {
            visibility: hidden;
            top: 0;
            z-index: 1;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #2d374894;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            color: #fff;
            span {
                display: inline-flex;
                align-items: center;
                font-weight: 500;
            }
            svg {
                font-size: 1.2rem;
                margin-right: 0.3rem;
            }
        }
        .multiple {
            position: absolute;
            color: #f4f4f4;
            font-size: 1.5rem;
            right: 0.8rem;
            top: 0.6rem;
        }
    }
}

.skeleton {
    background: var(--clr-skeleton);
}
.circle {
    height: 10rem;
    width: 10rem;
    border: 5px solid var(--clr-theme-2);
    border-radius: 50%;
    margin-top: -5rem;
    margin-left: 2rem;
    margin-right: 1.5rem;
}
.line {
    display: block;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
}
.name {
    .line {
        &:first-child {
            height: 1.2rem;
            width: 15rem;
        }
        &:last-child {
            height: 0.9rem;
            width: 12rem;
        }
    }
}
.actions {
    .line {
        height: 2.7rem;
        width: 8rem;
    }
}
.info {
    .links {
        .line {
            display: inline-flex;
            height: 1rem;
            margin-right: 0.8rem;
            &:nth-child(1),
            &:nth-child(2) {
                width: 6rem;
            }
        }
    }
    .line {
        width: 80%;
        height: 1.3rem;
    }
}
.post.skeleton {
    height: 13rem;
    width: 13rem;
}
.posts_containner {
    .tabs {
        border-top: 1px solid var(--clr-border-color-3);
        display: flex;
        width: 100%;
        gap: 1rem;
        a {
            display: block;
            padding: 1rem 0.5rem;
            color: var(--clr-gray-3);
            font-size: 0.9rem;
            border-bottom: 1px solid transparent;
            &.active {
                color: var(--clr-primary);
                border-color: var(--clr-primary);
            }
        }
    }
}
