:root {
    --clr-theme-bg-1: #f7f7f7;
    --clr-theme-bg-2: #fff;
    --clr-theme-bg-3: #fff;
    --clr-label: var(--clr-gray-3);
    --clr-table-bg: var(--clr-white);
    --clr-table-bg-odd: #f0f0f0;

    --clr-heading: var(--clr-black);
    --clr-element-container-bg: var(--clr-white);
}
.dark-mode {
    --clr-heading: var(--clr-white);
    --clr-text-color: #e3e3e3;
    --clr-theme-bg-1: #222222;
    --clr-theme-bg-2: #2a2a2a;
    --clr-theme-bg-3: #1e1e1e;

    --clr-label: var(--clr-gray-1);
    --clr-element-container-bg: var(--clr-page-light-bg);
    --clr-table-bg: #232b37;
    --clr-table-bg-odd: #1e2430;
}
@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html,
body {
    line-height: 1.5em;
    scroll-behavior: smooth;
    background-color: var(--clr-theme-bg-2);
}

*,
*::before,
*::after {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
