.container {
    height: 512px;
    width: 512px;
    position: relative;

    .icon {
        position: absolute;
        opacity: 0.7;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 1.5rem;
        &:hover {
            opacity: 1;
            background: var(--clr-theme-1);
            color: var(--clr-text-color);
        }
        &.left {
            left: 1rem;
        }
        &.right {
            right: 1rem;
        }
    }
}
